<aside id="profile">
  <div class="inner profile-inner">
  	<div class="base-info profile-block">
		  <img id="avatar" src="<%- gravatar(config.avatar, 128) %>" srcset="<%- gravatar(config.avatar, 256) %> 2x" alt="#sitecorebeard">
      <h2 id="name"><%= config.author %></h2>
      <h3 id="title"><%= config.author_title %></h3>
      <a class="corp-logo" href="https://www.connectivedx.com" target="_blank"><img src="/css/images/cdx-logo.png" alt="Connective DX" width="150"></a>
      <span id="location"><i class="fa fa-map-marker"></i><%= config.location %></span>
      <a id="follow" href="<%= config.follow %>"><%=__('profile.follow')%></a>
	  <img src="/assets/img/MVP2016.png" alt="Sitecore Technology MVP 2016" style="margin: 0 auto; padding: 1em; display: block;">
  	</div>
    <div class="contact-info profile-block">
      <table class="contact-list">
        <tr>
        <% for(var i in theme.contacts) { %>
          <td><a href="<%- url_for(theme.contacts[i]) %>" title="<%= i %>"><i class="fa fa-<%= i %>"></i></a></td>
        <% } %>
        </tr>
      </table>
    </div>
    <div class="article-info profile-block bio">
      <h2>About</h2>
      <p>Kam has been making websites since 1996, starting out with a 14.4k modem on a <a href="https://en.wikipedia.org/wiki/Party_line_(telephony)" target="_blank">party line</a> in the Hawaiian rainforest. He&rsquo;s been developing on Sitecore since the days of Sitecore 5.3, and led many large Sitecore implementations. Kam is the author of <a href="https://github.com/kamsar/Unicorn" target="_blank">Unicorn</a>, <a href="https://github.com/kamsar/Synthesis" target="_blank">Synthesis</a>, <a href="https://github.com/kamsar/Dianoga" target="_blank">Dianoga</a>, and several other open-source Sitecore libraries.</p>
    </div>
  </div>
</aside>